


<ion-menu [content]="content" side="left" id="site_menu" >
<ion-header>

  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu" ></ion-icon>
    </button>
    <ion-buttons end>
    </ion-buttons>
  </ion-navbar>
</ion-header>
  <ion-content>
    <ion-list >
          <button menuClose ion-item  (click)="openPage('duaList')">
              <div style="font-weight: bold;font-size:14px">
                  Dua List
              </div>
            </button>
            <button menuClose ion-item  (click)="openPage('favorite')">
                <div style="font-weight: bold;font-size:14px">
                    Favorite
                </div>
              </button>
            <button menuClose ion-item  (click)="openPage('setting')">
              <div style="font-weight: bold;font-size:14px">
                  Setting
              </div>
            </button>
            <button menuClose ion-item  (click)="openPage('about')">
                <div style="font-weight: bold;font-size:14px">
                    About
                </div>
            </button>
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
