
<ion-header>
    <ion-navbar color="primary">
      <button ion-button menuToggle>
        <ion-icon name="menu" ></ion-icon>
      </button>
      <ion-title>Setting </ion-title>
  
      <ion-buttons end>
  
  
      </ion-buttons>
  
    </ion-navbar>
  
  
  </ion-header>
  


  <ion-content padding style="padding: 0px;  background-color: #B2DFDB;">
      
      <ion-card>
         
        
        <ion-card-content>
          <p style="font-size: large;">
              Contant From: Quran.com
              <br/>
              Voice: Saad Al-Ghamadi

              
          </p>
        </ion-card-content>



        </ion-card>
      </ion-content>